<h1>Welcome {{user.displayName}}</h1>
<h5>Your Posts</h5>
<a href="/posts/add" class="btn btn-danger mb-2">
    <i class="fas fa-plus"></i> Create Post</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Status</th>
            <th>Manipulate</th>
        </tr>
    </thead>
    <tbody>
        {{#each posts}}
        <tr>
            <td>
                <a href="/posts/show/{{_id}}">{{truncate title 30 '....'}}</a>
            </td>
            <td>{{formatDate date 'MMMM Do YYYY'}}</td>
            <td class="capitalize">{{status}}</td>
            <td>
                <a href="/posts/edit/{{_id}}" class="btn btn-dark delete-btn">
                    <i class="fas fa-pencil-alt fab-icon"></i>
                </a>
                <form action="/posts/{{_id}}?_method=DELETE" method="POST" id="delete-post-form">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="btn btn-danger"><i class="fas fa-trash fab-icon"></i></button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>