<h1>Welcome {{user.displayName}}</h1>
<h5>Your Posts</h5>
<a href="/posts/add" class="btn btn-danger mb-2"><i class="fas fa-plus"></i> Create Post</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Status</th>
            <th>Manipulate</th>
        </tr>
    </thead>
    <tbody>
        {{#each posts}}
            <tr>
                <td><a href="/posts/show/{{_id}}">{{truncate title 30 '....'}}</a></td>
                <td>{{formatDate date 'MMMM Do YYYY'}}</td>
                <td class="capitalize">{{status}}</td>
                <td>
                    <a href="/posts/edit/{{_id}}" class="btn btn-dark delete-btn"><i class="fas fa-pencil-alt font-icons-xs"></i></a>
                    <form action="/posts/{{_id}}?_method=DELETE" id="delete-form" method="POST" class="form-inline">
                        <input type="hidden" value="DELETE" name="_method">
                        <button class="btn btn-danger"><i class="fas fa-trash font-icons-xs"></i></button>
                    </form>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>